@font-face {
  font-family: "FreeMono";
  src: url("./fonts/FreeMono.ttf");
}

@font-face {
  font-family: "FreeMonoBold";
  src: url("./fonts/FreeMonoBold.ttf");
}

@font-face {
  font-family: "CODE2000";
  src: url("./fonts/CODE2000.ttf");
}
